:root {
  --main-font: system-ui, "Segoe UI", sans-serif;
}

.about-section {
  background-color: #1abc9c;
  height: 97vh;
}

.about {
  width: 70%;
}

h1 {
  font-family: var(--main-font);
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

i {
  color: white;
  font-size: 1.2rem;
}

.line {
  height: 4px;
  width: 80px;
  background-color: white;
}

.info-section p {
  font-size: 1rem;
  line-height: 1.6;
  color: white;
  margin-bottom: 0;
}
